@charset "utf-8";
/* CSS Document */
html { height: 100%; background: #e8e8e8; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-x:hidden;}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, input, a, table, img, hr, textarea, strong, figure { margin: 0; padding: 0;}
body { background: #f6f6f6; color: #404040; font-family: 'Microsoft Yahei'; font-size: 1em; min-width: 20em;	min-height: 100%; position: relative;}
*html, html { height: 100%;}
article, footer, header, section, footer, nav, figure, menu, object, time {	display: block;}
ul, ol, li { list-style: none; }
a { color: #333333; text-decoration: none;}
a:hover, a:active, a:focus, a:visited { color: #333; text-decoration: none;}
img { border: none; vertical-align: middle; max-width: 100%; font-size:0px;}
table {	border-collapse: collapse; border-spacing: 0;}
hr { width: 100%; height: 1px; border: 0; border-bottom: 1px solid #dedede;}
a, input { outline: 0; cursor:pointer;}
em { font-style: normal;}
.clearfix:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.red{ color:#ba3022;}
.green{ color:#14a814;}
.yellow{ color:#e6973e;}
.blue{ color:#2d8cc6;}
.orange{color:rgb(247,185,64);}
.line{ border-bottom:2px solid #f1f1f1; padding-bottom:5px;}
.fl { float: left;}
.fr { float: right;}
.clear {clear:both;}
.textRight { text-align:right;}
.mt1 {margin-top:.5em;}
/*header*/
.top-logo {width:100%; height:3em; background-color:#fff; position:relative;}
.top-logo h1 {width:85%; height:3em;  font-size:1em; color:#ccc; overflow:hidden;}
.top-logo h1 img {width:5.2em; height:2em; font-size:1em; line-height:1em; display:block; float:left; margin:.5em;}
.top-logo h1.tac {text-align:center;}
.top-logo .logo-icon a {font:1em/3em Microsoft Yahei; color:#333;}
.top-logo .logo-icon img {width:2em; height:2em;}
.top-logo .site {width:82%; white-space:nowrap; overflow-x:auto; margin:0 auto;}
.top-logo span {width:2em; float:right; text-align:right; padding:0.5em;}
.top-logo span img{ width:2em; height:2em; font-size:1em;}
/*overall*/
.overall-nav {width:100%; background:#106fbf; z-index:101; position:absolute; display:none;}
.overall-nav-in {padding:.5em 0 .5em .5em;}
.overall-nav .color-btn a {width:22%; display:block; float:left; font:.8em/2em Microsoft Yahei; color:#fff; border-radius:1em; margin-right:1.5%; text-align:center;}
.overall-nav .color-btn .color-01 {background:#e67373; width:28%;}
.overall-nav .color-btn .color-02 {background:#ed9b63;}
.overall-nav .color-btn .color-03 {background:#afd067;}
.overall-nav .color-btn .color-04 {background:#b099cf; margin-right:0;}
.overall-nav .nav-tit {height:1em; margin:.5em .5em .5em 0; position:relative;}
.overall-nav .nav-tit p.line2 {width:100%; height:1px; line-height:1px; background:#0b5aaf; border-bottom:1px solid #217dc6; overflow:hidden; position:absolute; top:50%;}
.overall-nav .nav-tit strong {background:#106fbf; color:#749dcd; font-size:.5em; line-height:1em; padding:0 .5em; position:absolute; left:50%; margin-left:-3em;}
.overall-nav li {width:14.2%; float:left; font-size:.9em; line-height:2em;}
.overall-nav li a {color:#d7dce0;}
.overall-nav li.t4 {width:22%;}
.overall-nav .login-btn {padding-left:50%; margin:0 0 .5em -4.2em;}
.overall-nav .login-btn a {width:4em; height:1.8em; display:block; float:left; background:#cfe2f2; border-radius:.3em; font:.8em/1.8em Microsoft Yahei; color:#106fbf; text-align:center; margin:0 .5em;}
.overall-nav-close {position:absolute; left:50%; bottom:-2em; margin-left:-1.9em;}
.overall-nav-close img {width:3.8em; height:2em; display:block; font-size:1em;}
.overall-nav .sjx {position:absolute; top:-.5em; right:.5em; font:2em/1em Microsoft Yahei; color:#106fbf;}
/*nav*/
.top-menu {display:block; background:#106fbf; font:1em/2em Microsoft Yahei; padding:0.2em 0;}
.top-menu a {width:20%; display:inline-block; float:left; text-align:center; color:#fff;}
.top-menu a:hover, .top-menu a:active, .top-menu a:focus, .top-menu a:visited {color:#fff;}
.top-menu .yellow {position:relative; color:#ff0;}
.top-menu .yellow .hot {width:25px; height:15px; position:absolute; top:-2px; margin-left:28px;}
.top-menu .yellow:hover, .top-menu .yellow:active, .top-menu .yellow:focus, .top-menu .yellow:visited {color:#ff0;}
.top-menu-index a {width:16.5%;}
.menu-row4 a {width:25%;}
.menu-row4 a.on {background:#000; color:#BA3022; border-radius:1em;}
/*footer*/
footer div {background:#fff; line-height:1.5em; padding:.5em; margin:1em 0;}
footer div a.btn {background:#d1dce3; width:18%; height:1.5em; display:block; float:left; border-radius:3px; margin-right:.5em; text-align:center;}
footer div a.text {width:28%; text-align:center; display:block; float:left;}
footer div a img {width:1em; height:1em; font-size:1.5em; vertical-align:middle; margin-right:.2em;}
footer p {text-align:center; line-height:2em;}
footer p .number {background:#ba3022; display:inline-block; font-weight:bold; color:#fff; padding:0 1em; border-radius:3px;}
footer span.text-small {font-size:.8em; width:38%;}
/* 返回顶部 */
.actGotop, .feedback, .freeHotline {position:fixed; right:.5em; width:3em;height:3em; z-index:9999;}
.actGotop a, .feedback a, .freeHotline a {width:3em;height:3em;display:block; text-indent:-9999px; outline:none;}
.actGotop a img, .feedback a img, .freeHotline a img {display:block; font-size:1em; width:3em; height:3em;}
.actGotop {bottom:170px; display:none;}
.feedback {bottom:-120px; /* 20151209建议右侧浮动取消 */}
.freeHotline {bottom:70px; display:none;}
.freeHotline-open,.important_open {width:100%; position:fixed; bottom:0; padding:.3em 0; z-index:9999;}
.freeHotline-open dt {width:3.2em; float:left; padding:0 .5em 0 2em;}
.freeHotline-open dt img {width:3.2em; height:3.2em; font-size:1em; display:block;}
.freeHotline-open dd {float:left; color:#fff; font:1.2em/1.2em Microsoft Yahei;}
.freeHotline-open dd.number a {font:bold 1.5em/1em arial; color:#ffff00;}
.freeHotline-close,.important_close {position:absolute; top:-1em; right:.8em; width:36px; height:36px;}
.freeHotline-close img,.important_close img{display:block;}
.freeAd{position:fixed; right:.5em; bottom:60px;width:3em;height:6.6em; z-index:9999;display:none;}
.freeAd a{width:3em;height:6.6em;display:block; text-indent:-9999px; outline:none;}
.freeAd a img{display:block; font-size:1em; width:3em; height:6.6em;}
/*2015-03-05 修改样式*/
footer {padding-bottom:80px;}
.freeHotline-open,.important_open {padding:0;}
/*2015-05-05 新增顶部广告样式*/
.top-ad,.top-ad1 {width:100%; position:relative;}
.top-ad .ad-close,.top-ad1 .ad-close {width:10%; height:100%; display:block; position:absolute; right:.5em; top:0; text-indent:-9999px; cursor:pointer;}
.top-ad p,.top-ad1 p { width: 10%; height: 10%; position: absolute; bottom: 70%; right: 2.1%;}
.top-ad p img,.top-ad1 p img { width: 100%;}
/*2015-05-27 财经日历头部样式修改*/
.overall-nav .color-btn , .overall-nav .login-btn {height:auto; background:none;}
@media screen and (min-width:480px){body,.freeHotline-open,.important_open{width:480px;margin:0 auto;}}
/* 20160104新增底部浮动初始值样式 页面加载后Js根据屏幕尺寸自动调整 */
.freeHotline-open a img,.important_open a img{ width:100%; height:120px; }
@media screen and (min-width: 360px) and (max-width: 420px){.freeHotline-open a img,.important_open a img { height:100px;} }
@media screen and (min-width: 320px) and (max-width: 360px){.freeHotline-open a img,.important_open a img { height:90px;} }
@media screen and (max-width:320px) { .freeHotline-open a img,.important_open a img { height:80px;}}